.hero__title {
	font-family: 'Inter-Bold';
	font-size: 96px;
	text-align: center;
	line-height: 1.04;
	max-width: 720px;
	width: 100%;
	margin: 0 auto 32px auto;
}

@media screen and (max-width: 767px) {
	.hero__title {
		font-size: 40px;
		margin-bottom: 16px;
	}
}