.page {
	box-sizing: border-box;
	background-color: #2a2c2f;
	color: #fff;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

.header__language,
.intro__list,
.gallery,
.footer__list {
	padding: 0;
}

.hero__title,
.intro__title,
.place__title,
.cover__title,
.intro__title,
.hero__subtitle,
.intro__text,
.place__url,
.place__text,
.cover__subtitle,
.footer__copy,
.header__language,
.intro__list,
.gallery,
.footer__list,
.language__item,
.intro__item,
.gallery__item,
.footer__item {
	margin: 0;
}

.header__language,
.intro__list,
.gallery,
.footer__list,
.language__item,
.intro__item,
.gallery__item,
.footer__item {
	list-style: none;
}

.header__logo,
.hero__img,
.gallery__photo,
.place__img {
	display: block;
	height: auto;
	object-fit: cover;
	max-width: 100%;
}

a {
	text-decoration-color: transparent;
	color: inherit;
}