.hero {
	margin: 0 auto;
	padding-top: 52px;
	width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1080px) {
	.hero {
		width: calc(100% - 2 * 48px);
	}
}

@media screen and (max-width: 768px) {
	.hero {
		padding-top: 48px;
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.hero {
		padding-top: 16px;
	}
}