.hero__img-wrapper {
	position: relative;
	padding: 0 50px;
	max-width: 1085px;
	margin: 0 auto;
}

.hero__img-wrapper::before {
	content: "";
	display: block;
	background-image: url(../../../../images/hero-block/road.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 87%;
	height: 45%;
	position: absolute;
	top: 13%;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
	.hero__img-wrapper {
		max-width: 100%;
		padding: 0;
	}
}