.place__link {
	color: inherit;
	font-size: 18px;
	line-height: 1.2;
	position: relative;
	text-decoration: none;
}

.place__link::before {
	content: "";
	display: block;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
}
