.footer__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 18px;
	margin-right: 30px;
	padding: 0;
	margin: 0;
	list-style: none;
}

@media screen and (max-width: 425px) {
	.footer__list {
		row-gap: 32px;
		flex-direction: column;
		margin-right: 0;
		column-gap: 0;
	}
}