.container_wide {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 50px;
}

@media screen and (max-width: 768px) {
	.container_wide {
		padding: 0 25px;
	}
}

@media screen and (max-width: 320px) {
	.container_wide {
		padding: 0 15px;
	}
}